 
        <div class="main-list-item shipment-detail">
            <div>
                <div class="header-main-list-item">
                    <div class="@shipment.Carrier.ToString().ToLower()">

                    </div>
                    <div>
                        @shipment.Comment (@shipment.TrackingId)
                    </div>
                </div>

            @if(shipment.HasData){
                @foreach (var historyEntry in shipment.History)
                {

                <div class="container-shipment-history">
                        <div>
                            <i class="@ShipmentUtil.GetShipmentStatusIcon(historyEntry.Status)"></i>
                        </div>
                        <div>
                        <div>
                            <div class="history-time">
                                @historyEntry.UpdatedAt.ToString("dd.mm.yyyy hh:mm") - @historyEntry.Location
                            </div>
                            <div class="history-message">
                                @historyEntry.Message
                            </div>
                        </div>
                        </div>
                </div>               
                }

                <Leaflet history="@shipment.History"></Leaflet>
            }
            </div>
        </div>

@code{
    [Parameter]
    public Models.Shipment shipment { get; set; }


}