
@inject HttpClient Http;
@inject ILogger<Index> log;
@using Versandtracks0rBlazor.Models
@inject AppState appState;
<div class="container-shipment-new-form">
<h2>Neues Paket</h2>
<div>
    <label>Trackingnummer</label>
    <input class="form-control" @bind-value="shipment.TrackingId">
</div>
<div>
    <label>Name</label>
    <input class="form-control" @bind-value="shipment.Comment">
</div>
<div class="container-shipment-new-carriers">
    @foreach (var item in Enum.GetValues(typeof(Carrier)).Cast<Carrier>())
    {
        <div  @onclick="@(e => shipment.Carrier = item)" class="@GetCarrierClass(item)">

        </div>
    }
</div>
<div class="container-shipment-new-buttons">
    <button class="btn btn-primary button-save" disabled="@requestPending" @onclick="@SaveShipment">
        @if(!requestPending){
        <i  class="fas fa-save"></i>
        }
        else{
            <i class="fas fa-circle-notch fa-spin"></i>
        }
        
        </button>
    <button class="btn btn-danger button-close" disabled="@requestPending" @onclick="OnCloseClick"><i class="fas fa-times"></i></button>

</div>
</div>


@code{
    [Parameter]
    public EventCallback<MouseEventArgs> OnCloseClick { get; set; }

    [Parameter]
    public EventCallback<Shipment> OnSave { get; set; }

    public Shipment shipment = new Shipment();

    public bool requestPending = false;

    public async Task SaveShipment()
    {
        this.requestPending = true;
        var response = await this.Http.PostAsJsonAsync<Shipment>(Util.ApiUrl + "api/Shipments", this.shipment);
        this.requestPending = false;
        if (response.IsSuccessStatusCode)
        {
            appState.showToast("Eintrag erfolgreich gespeichert", Models.ToastType.Success);

            await this.OnSave.InvokeAsync(await response.Content.ReadFromJsonAsync<Shipment>());
        }
        else
        {
            appState.showToast("Fehler beim Speichern des Eintrages. Versuchen Sie es später nocheinmal", Models.ToastType.Success);

            this.log.LogError(await response.Content.ReadAsStringAsync());
        }
    }
    public string GetCarrierClass(Carrier carrier)
    {
        if (shipment.Carrier == carrier)
        {
            return "carrier-selected " + carrier.ToString().ToLower() + " cursor-pointer";
        }
        else
        {
            return carrier.ToString().ToLower() + " cursor-pointer";
        }
    }


}